/*@define-color bg0 #1a1a1a;*/
@define-color bg0 rgba(26,26,26,0.8);
/*@define-color bg1 #353535;*/
@define-color bg1 rgba(53,53,53,0.4);
@define-color fg0 #b0bec5;
@define-color fg1 #eeffff;

window {
  font-size: 26px;
  font-family: JetBrainsMono Nerd Font Mono;
  background-color: @bg0;
  color: @fg0;
  border-radius: 18px;
}

#input {
  background-color: transparent;
  color: @fg0;
  padding: 8px 16px;
  border-radius: 18px;
  border: none;
  box-shadow: none;
}

#input > image.left {
  margin-right: 16px;
}

#entry {
  padding: 8px;
}

#entry:selected {
  background: @bg1;
}

#text:selected {
  color: @fg1;
}

#img {
  margin-right: 8px;
}
