/*@define-color bg0 #1a1a1a;*/
/*@define-color bg0 rgba(0, 0, 0, 0.18);*/
@define-color bg0 rgba(23,23,23,0.8);
/*@define-color bg1 #212121;*/
@define-color bg1 rgba(235,235,235,0.2);
@define-color fg0 #999999;
@define-color fg1 #ebebeb;

window {
  font-size: 26px;
  font-family: JetBrainsMono Nerd Font Mono;
  background-color: @bg0;
  color: @fg0;
  border-radius: 12px;
}
#outer-box {
  color: @fg0;
}

#input {
  background-color: transparent;
  color: @fg0;
  padding: 8px 16px;
  border-radius: 12px;
  border: none;
  box-shadow: none;
}

#input > image.left {
  margin-right: 10px;
}

#entry {
  padding: 8px;
}

#entry:selected {
  background: @bg1;
  border-radius: 0px;
}

#text:selected {
  color: @fg1;
}

#img {
  margin-right: 8px;
}
